include LICENSE
include *.md
include pyproject.toml

include package.json
include install.json
include ts*.json
include yarn.lock

graft lc_multi_outputs/labextension

# Javascript files
graft src
graft style
prune **/node_modules
prune lib
prune binder

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
global-exclude .vscode

# check-manifest に推奨された設定
include *.ipynb
include *.txt
recursive-include docs *.md
recursive-include lc_multi_outputs *.css
recursive-include lc_multi_outputs *.gif
recursive-include lc_multi_outputs *.js
recursive-include lc_multi_outputs *.md
recursive-include lc_multi_outputs *.png
recursive-include lc_multi_outputs *.yml
recursive-include schema *.json
